<div class="jumbotron">
    <h1>Swagger documentation</h1>
    <p class="lead">This link provides information about the web API exposed by the application.</p>
    <p><a href="/swagger/" class="btn btn-primary btn-lg">Show me!</a></p>
</div>
